{% extends 'catalog/base.html' %}
{% block content %}
{% load image_output %}
<div class="col-12">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ object }}</h1>

    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-3">
                <img class="img-fluid" src="{% mymedia object.preview_image %}">
            </div>
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center col-9">
                <p class="lead">{{ object.body }}</p>
            </div>
            <div class="card-footer">
                Просмотры: {{ object.view_count }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}