{% extends 'catalog/base.html' %}
{% block content %}
{% load image_output %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Список категорий</p>
</div>

<div class="container">
    <div class="row text-center">
        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            {% for object in object_list %}
            <li>{{ object.category_name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}