{% extends 'catalog/base.html' %}
{% block content %}
{% load image_output %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - магазин товаров для людей</p>
                    <a class="p-2 btn btn-outline-primary" href="/create/">Создать товар</a>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <img class="card-img-top" src="{% mymedia object.product_image %}">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }} руб</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.product_description|slice:100 }}</li>
                        <li>Текущие активные версии:</li>
                        {% for version in object.version.all %}
                        {% if version.is_current_version %}
                        <li>{{ version }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="btn-group">
                    <a class="p-2 btn btn-outline-primary" href="/{{ object.pk }}/">Подробнее</a>
                    <a class="p-2 btn btn-outline-primary" href="/update/{{ object.pk }}/">Изменить</a>
                    <a class="p-2 btn btn-outline-primary" href="/delete/{{ object.pk }}/">Удалить</a>
                </div>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}